APScheduler
channels
channels_redis
daphne
dj-database-url
Django>=5.0,<6.0
django-cors-headers
django-crontab
djangorestframework
djangorestframework_simplejwt
firebase_admin
numpy
psycopg2-binary
python-decouple
whitenoise
